body{padding:10px;}
li {
  list-style: none;
  padding:10px;
}
.hidden { display: none; }

section{margin:5vh 0; border-bottom:1px solid black;}

#image-container{
  border:1px solid black;
  /* overflow:hidden; */
  width:600px;
  height:300px;
}

.slide{
  border:1px solid red;
  /* display:inline-block; */
  width:600px;
  height:300px;
}

.images { display: flex; }