body{padding:10px;}
li {
  list-style: none;
  padding:10px;
}

.hidden-menu{display:none;}

.hidden { display:none; }

section{margin:5vh 0; border-bottom:1px solid black;}

.images { display: flex; }
.images > div {padding:5px;}

.dots {
  position: relative;
  text-align: center;
  top: -40px;
  width: 700px;
}

.dots a {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  background-color: rgba(255,255,255,.5);
  cursor:pointer;
}

.dots a:hover{
  background:white;
}

.dots a.selected {
  background-color: white;
}

form input{display:block;}

.invalInput {
  border: 2px solid red;
}